
  @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root{
  --main_font:Orbitron;
   
  --colorG:
   rgb(230, 166, 29);
   --colorB:rgb(112, 183, 227);

}
*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background-color: #000;
}
nav{
  color:#fff;
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

 .navDiv{
  cursor: pointer;
  margin: 20px 20px;
  
}
.sectDiv{
  text-align: center;
}
 .landingPage{
  position: relative;
  height: 100vh;
  
 /*background: url(images/sketch-modern-building.jpg);
 background-size: cover;
 background-position: center;*/
 height: 100hv;
 
}

.landingPage{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.socce{
  color: var(--colorG);
  margin-top: 5%;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 3.4em;
  letter-spacing: 20px;
  

  
}

.presents{
  margin-top: 0;
  font-weight: lighter;
  font-size: 30px;
  letter-spacing: 10px;
  color: var(--colorB);
}

.title{
  
  font-weight: 600;
  font-size: 100px;
  letter-spacing: 1.1rem;
  font-family: var(--main_font);
  color: var(--colorG);
}
.year{
  color: var(--colorB);
}
h1 .char{
  color: var(--colorG) ;
}

h1 .char1{
  color: var(--colorB);

}



/*landing page ends*/
/*event section starts*/

.event-discrip{
  margin-top: 5%;
  background-image: none;
  
  
  color: #fff;
}
.event-card{
  margin-left:30% ;
  font-size: 30px;
  color: var(--colorG);
}
.main-container{
  position: relative;
  margin-top: 100px;
  
  
 
}
.econtainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  width: 40vw;
  border: 2px solid var(--colorB);
  border-radius: 30px;
  margin-left: 5% ;
  margin-right: 5%;
  margin-bottom: 5%;
  box-shadow: 0px 5px 10px var(--colorG);
  position: absolute;
   height: 50vh;
}

.main-container .a{
  
  top: 0;
 
  z-index: 5;
 
}
.main-container .b{
  
  
top:100vh;

z-index: 10;
}
.main-container .c{
  
  
  top: 200vh;
  
  z-index: 15;
}

  .main-container .d{

  
    top: 300vh;
    
    z-index: 20;
    }

    .main-container .e{
      
  
      top: 400vh;
      
      z-index: 25;

      }

      .main-container .f{
        top: 500vh;
       
        z-index: 30;
        }

.a , .c ,.e {
  left: 10vw;
}

.b, .d , .f{
  right: 10vw;
}
.econtainer .img{
 
 /* width: 40vw;
  height: 400px;
   background-image: url(images/sketch-modern-building.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;*/
  
}

.econtainer .name{
  color: var(--colorG);

}

.econtainer .intro{
  width: 80%;
  padding: 20px 0px;
}

/*event section ends*/
.sponsorsPage{
position: absolute;
  color: #fff;
  top: 330vh;
  z-index: 50;
  

}

.list{
  display: flex;
  flex-direction: row;
}

.spon-container {
  margin-left: 40px;
}

.spon-container .simg{
background-image: url(images/sketch-modern-building.jpg);
width: 100px;
height: 100px;
background-position: center;
background-size: cover;
margin-bottom: 10px;
border-radius: 20px;
}